# Node modules
node_modules/

# Environment variables
.env

# SQLite database
rad_analyse.db

# Uploads
json_uploads/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PM2 logs
.pm2/

# Temporary files
tmp/
